 <!-- OUR BLOG START -->
            <div class="section-full small-device p-tb40">
                <div class="container">
                    <div class="section-head text-center">
                        <div class="wt-separator-outer separator-center">
                            <div class="wt-separator">
                                <span class="max-h-text text-uppercase sep-line-one ">Latest News</span>
                            </div>
                        </div>
                    </div>
                    <div class="section-content wow fadeIn" data-wow-duration="500ms" data-wow-delay="500ms">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="blog-post latest-blog-1 date-style-1">
                                    <div class="wt-post-media wt-img-effect zoom-slow">
                                        <a href="javascript:;"><img src="{% static 'images/uploads/1593233101blog.jpg' %}" alt=""></a>
                                    </div>
                                    <div class="wt-post-info">
                                        <div class="post-date"> <strong>2020-06-26 </strong></div>
                                        <div class="wt-post-title">
                                            <h4 class="post-title"><a
                                                    href="https://www.dsignerstudio.com/blog/engaging-visitors-for-long-at-your-booth">
                                                    How to engage visitors for a longer period of time, at your
                                                    Exhibition booth</a>
                                            </h4>
                                        </div>
                                        <div class="wt-post-text text-justify">
                                            <p style="text-align: center; "><b><i>"How &amp; What You Sell
                                                        Matters.</i></b></p>
                                            <p style="text-align: center; "><b><i>But How Your Customer Feels, When
                                                        They</i></b></p>
                                            <p style="text-align: center; "><b><i>Engage With You, Matters More"</i></b>
                                            </p>
                                            <p style="text-align: center; ">Tiffani...
                                        </div>
                                        <div class="wt-post-meta">
                                            <ul class="clearfix">
                                                <li class="post-author">
                                                    <div class="post-author-pic">
                                                        <a href="javascript:void(0);">
                                                            <span><strong> by</strong> Dsigner Studio</span>
                                                        </a>
                                                    </div>
                                                </li>
                                                <li class="post-like"><a
                                                        href="https://www.dsignerstudio.com/blog/engaging-visitors-for-long-at-your-booth">Read
                                                        More</a> </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="blog-post latest-blog-1 date-style-1">
                                    <div class="wt-post-media wt-img-effect zoom-slow">
                                        <a href="javascript:;"><img src="{% static 'images/uploads/1592840781product.jpg' %}" alt=""></a>
                                    </div>
                                    <div class="wt-post-info">
                                        <div class="post-date"> <strong>2020-06-22 </strong></div>
                                        <div class="wt-post-title">
                                            <h4 class="post-title"><a
                                                    href="https://www.dsignerstudio.com/blog/how-to-make-your-product-more-visible-in-an-exhibition">
                                                    How to make your Product more visible in an Exhibition</a>
                                            </h4>
                                        </div>
                                        <div class="wt-post-text text-justify">
                                            <p style="text-align: center; "><b>"Visibility - You've got to find a way to
                                                    let people know you’re there"</b></p>
                                            <p style="text-align: center; ">Nikki Giovanni (American Poet)</p>
                                            <p>Exhibitions are a very good way to showcase your Product. And if you
                                                really want to do a good job of publ...
                                        </div>
                                        <div class="wt-post-meta">
                                            <ul class="clearfix">
                                                <li class="post-author">
                                                    <div class="post-author-pic">
                                                        <a href="javascript:void(0);">
                                                            <span><strong> by</strong> Dsigner Studio</span>
                                                        </a>
                                                    </div>
                                                </li>
                                                <li class="post-like"><a
                                                        href="https://www.dsignerstudio.com/blog/how-to-make-your-product-more-visible-in-an-exhibition">Read
                                                        More</a> </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="blog-post latest-blog-1 date-style-1">
                                    <div class="wt-post-media wt-img-effect zoom-slow">
                                        <a href="javascript:;"><img src="{% static 'images/uploads/1591727243how-to-improve_(1).jpg' %}"
                                                alt=""></a>
                                    </div>
                                    <div class="wt-post-info">
                                        <div class="post-date"> <strong>2020-06-09 </strong></div>
                                        <div class="wt-post-title">
                                            <h4 class="post-title"><a
                                                    href="https://www.dsignerstudio.com/blog/how-to-improve-your-follow-ups-post-exhibition">
                                                    How to improve your follow-ups post exhibition?</a>
                                            </h4>
                                        </div>
                                        <div class="wt-post-text text-justify">
                                            <p style="text-align: center; "><i>"Diligent follow up and follow through
                                                    will set you apart from the crowd and communicate excellence to you
                                                    customers"</i></p>
                                            <p>At Dsigner Studio we follow a simple philosophy: Any prospective customer
                                                can be converted into a loyal customer only by follow...
                                        </div>
                                        <div class="wt-post-meta">
                                            <ul class="clearfix">
                                                <li class="post-author">
                                                    <div class="post-author-pic">
                                                        <a href="javascript:void(0);">
                                                            <span><strong> by</strong> Dsigner Studio</span>
                                                        </a>
                                                    </div>
                                                </li>
                                                <li class="post-like"><a
                                                        href="https://www.dsignerstudio.com/blog/how-to-improve-your-follow-ups-post-exhibition">Read
                                                        More</a> </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="col-md-12 text-center">
                            <a href="blog.html" class="site-button m-t15 m-b15">View More</a>
                        </div>
                    </div>
                </div>
            </div>
            
                                        <a href="javascript:void(0);"><img src="{% static 'images/1.png' %}" alt=""></a>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="ow-client-logo">
                                    <div class="client-logo client-logo-media">
                                        <a href="javascript:void(0);"><img src="{% static 'images/2.png' %}" alt=""></a>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="ow-client-logo">
                                    <div class="client-logo client-logo-media">
                                        <a href="javascript:void(0);"><img src="{% static 'images/3.png' %}" alt=""></a>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="ow-client-logo">
                                    <div class="client-logo client-logo-media">
                                        <a href="javascript:void(0);"><img src="{% static 'images/4.png' %}" alt="Image"></a>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="ow-client-logo">
                                    <div class="client-logo client-logo-media">
                                        <a href="javascript:void(0);"><img src="{% static 'images/5.png' %}" alt=""></a>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="ow-client-logo">
                                    <div class="client-logo client-logo-media">
                                        <a href="javascript:void(0);"><img src="{% static 'images/7.png' %}" alt=""></a>
                                    </div>
                                </div>
                                  </div>
                