<footer class="site-footer footer-large footer-light footer-wide wow fadeIn" data-wow-duration="500ms"
            data-wow-delay="500ms">
            <div class="footer-top overlay-wraper">
                <div class="overlay-main"></div>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-5 col-md-5 col-sm-5">
                            <div class="widget getin-touch">
                                <h4 class="widget-title">Dsigner Studio</h4>
                                <div class="widget-section">
                                    <p>We are a full service creative agency focused on Exhibitions & Interior
                                        Designing. We have a core team of professionally qualified staff and a fleet of
                                        production staff which form the central force for stall designing & project
                                        management.</p>
                                </div>
                                <div class="footer-social-icon">
                                    <ul class="social-icons f-social-link">
                                        <li><a href="https://www.facebook.com/DsignerStudio" target="_blank"
                                                target="_blank" class="fab fa-facebook-f fab-class"></a></li>
                                        <li><a href="http://www.twitter.com/@dsigner_studio" target="_blank"
                                                class="fab fa-twitter fab-tw"></a></li>
                                        <li><a href="https://www.linkedin.com/in/ds-exhibitions-and-stands-llp-460279ba/"
                                                target="_blank" class="fab fa-linkedin-in fab-lnd"></a></li>
                                        <li><a href="https://www.youtube.com/channel/UC_KLgDFX2YVKQL9GSG5k_uQ/"
                                                target="_blank" class="fab fa-youtube fab-ins"></a></li>
                                        <li><a href="https://www.instagram.com/dsignerstudio/" target="_blank"
                                                class="fab fa-instagram fab-ins"></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4">
                            <div class="widget  widget_address m-b20">
                                <h4 class="widget-title">Important Link</h4>
                                <div class="widget-section">
                                    <ul class="two-columns">
                                        <li><span class="ft"><i class="flaticon-next"></i></span> <a
                                                href="services/customized-stands.html">Customized Stands</a> </li>
                                        <li><span class="ft"><i class="flaticon-next"></i></span> <a
                                                href="services/system-stands.html">System Stands</a> </li>
                                        <li><span class="ft"><i class="flaticon-next"></i></span> <a
                                                href="services/residential-interior.html">Residential Interior</a> </li>
                                        <li><span class="ft"><i class="flaticon-next"></i></span> <a
                                                href="services/office-interiors.html">Office Interiors</a> </li>
                                        <li><span class="ft"><i class="flaticon-next"></i></span> <a
                                                href="services/f-b-outlets.html">F & B Outlets</a> </li>
                                        <li><span class="ft"><i class="flaticon-next"></i></span> <a
                                                href="services/retail-design.html">Retail Design</a> </li>
                                        <li><span class="ft"><i class="flaticon-next"></i></span> <a
                                                href="services/art-work.html">Art work</a> </li>
                                        <li><span class="ft"><i class="flaticon-next"></i></span> <a
                                                href="services/digital-marketing.html">Digital Marketing</a> </li>

                                    </ul>
                                    <ul class="two-columns">
                                        <li><span class="ft"><i class="flaticon-next"></i></span> <a
                                                href="about-us.html#wwd">What We Do</a> </li>
                                        <li><span class="ft"><i class="flaticon-next"></i></span> <a
                                                href="about-us.html#wds">Why DS</a> </li>
                                        <li><span class="ft"><i class="flaticon-next"></i></span> <a
                                                href="about-us.html#dsteam">DS Team</a> </li>
                                        <li><span class="ft"><i class="flaticon-next"></i></span> <a
                                                href="event.php.html">Event &amp; Conference</a> </li>
                                        <li><span class="ft"><i class="flaticon-next"></i></span> <a
                                                href="blog.html">Blog</a> </li>
                                        <li><span class="ft"><i class="flaticon-next"></i></span> <a
                                                href="contact-us.html">Contact us</a> </li>
                                        <li><span class="ft"><i class="flaticon-next"></i></span> <a
                                                href="gallery.html">Gallery</a> </li>
                                        <li><span class="ft"><i class="flaticon-next"></i></span> <a
                                                href="vds-world.html">Vds World</a> </li>

                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3">
                            <div class="widget">
                                <h4 class="widget-title">Contact</h4>
                                <div class="widget-section">
                                    <ul class="contacts">
                                        <li><a href="tel:+91-9811862452"><i class="ti-mobile"></i> +91 9560021383, + 91
                                                9811862452 </a></li>
                                        <li><a href="mailto:kompal@dsignerstudio.com"><i
                                                    class="ti-email"></i>kompal@dsignerstudio.com</a></li>
                                        <li><a href="mailto:marketingds@dsignerstudio.co"><i
                                                    class="ti-email"></i>marketingds@dsignerstudio.com</a></li>
                                    </ul>
                                </div>
                                <div id="newsletter">
                                    <h6>Newsletter</h6>
                                    <div id="message-newsletter"></div>
                                    <form method="post">
                                        <div class="form-group">
                                            <input type="email" name="email_newsletter" class="form-control"
                                                placeholder="Your email" value="">
                                            <input type="submit" name="submit_newsletter" value="Submit"
                                                id="submit-newsletter">
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-bottom overlay-wraper">
                <div class="overlay-main"></div>
                <div class="container">
                    <div class="row">
                        <div class="wt-footer-bot-center">
                            <span class="copyrights-text">2019 || Dsigner Studio || Maintained by <a
                                    href="https://www.ontimeinfotech.com/" target="_blank">
                                    <img src="{% static 'images/onTime-infotech.png' %}" style="width: 20px;height: 20px;"
                                        alt="ontime"></a></span>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <div id="enquirypopup" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content row">
                    <div class="modal-header custom-modal-header">
                        <button type="button" class="close" data-dismiss="modal">×</button>
                        <h4 class="modal-title">Get A Call Back</h4>
                    </div>
                    <div class="modal-body">
                        <form class="form-inline" method="post">
                            <center> <span id="abc"></span></center>
                            <div class="form-group col-sm-12">
                                <input type="text" class="form-control"
                                    oninput="this.value = this.value.replace(/[^a-zA-Z\s.]/g, ''); this.value = this.value.replace(/(\..*)\./g, '$1');"
                                    name="name" id="name_" placeholder="Name"
                                    title="It must contain only letters and a length of minimum 2 characters!"
                                    autocomplete="off" required="">
                            </div>
                            <div class="form-group col-sm-12">
                                <input type="text" class="form-control numbers" placeholder="Phone No" name="mobile"
                                    maxlength="10" onkeyup="Send_OTP_model1(this.value);" autocomplete="off" required=""
                                    id="m_num">
                                <div id="mobotp"><input type="hidden" name="otp1" id="otp1"></div>
                            </div>
                            <div class="mob_otp1"></div>
                            <div class="form-group col-sm-12">
                                <input type="text" class="form-control numbers" name="otp" maxlength="6"
                                    autocomplete="off" placeholder="OTP" required="" id="ooo_p">
                            </div>
                            <span id="abc"></span>
                            <div class="form-group col-sm-12 text-center">
                                <button type="button" class="site-button m-t15 m-b15 sub_fo">Submit</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <button class="scroltop"><span class="fa fa-angle-up  relative" id="btn-vibrate"></span></button>
        <button class="whatsapp" id="whts">
            <a href="https://api.whatsapp.com/send?phone=919811862452&amp;text=Hi%20Dsignerstudio" target="_blank">
                <img src="{% static 'images/whatsapp-messenger-icon.png' %}" width="" height="">
            </a>
        </button>

        <section id="fixed-form-container">
            <div class="button">Enquiry Form</div>
            <div class="body">
                <form method="post" action="index.html">
                    <div class="form-group">
                        <input type="name" class="form-control" id="ename" name="ename" placeholder="Name" required>
                    </div>
                    <div class="form-group">
                        <input type="email" class="form-control" name="eemail" id="eemail"
                            pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" value="" placeholder="Email"
                            autocomplete="off"
                            title="It must contain a valid email address e.g. 'someone@provider.com' !" required>
                    </div>
                    <div class="form-group">
                        <input type="mno" class="form-control" id="emno" name="emobile" pattern="[0-9 ]{10,12}"
                            name="phone" value="" maxlength="12"
                            oninput="this.value = this.value.replace(/[^0-9.]/g, '');this.value = this.value.replace(/(\..*)\./g, '$1');"
                            title="Please Enter Your vaild number!" placeholder="Mobile Number" required>
                    </div>

                    <div class="form-group">
                        <textarea name="emessage" rows="3" class="form-control " required="" placeholder="Message"
                            spellcheck="false"></textarea>
                    </div>

                    <div class="form-group">
                        <input id="6_letters_code1" class="form-control col-sm-3" autocomplete="off"
                            name="6_letters_code1" type="text" style="height:40px; width:140px;"
                            placeholder="Enter the code " required>
                        <img src="https://www.dsignerstudio.com/captcha_code_file1.php?rand=1547435948" id='captchaimg'>

                    </div>


                    <input type="submit" name="e_submit" class="btn btn-default" value="Submit">
                </form>
            </div>
        </section>
    </div>
    <!-- js -->
    <script type='text/javascript' src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script type='text/javascript' src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        crossorigin="anonymous"></script>


    <script type='text/javascript' src="{% static 'js/skdslider.js' %}"></script>


    <script type='text/javascript'
        src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.min.js"></script>
    <script type='text/javascript'
        src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/jquery.waypoints.min.js"></script>
    <script type='text/javascript'
        src="https://cdnjs.cloudflare.com/ajax/libs/Counter-Up/1.0.0/jquery.counterup.min.js"></script>


    <script type='text/javascript' src="{% static 'js/skdslider.js' %}"></script>

    <script type='text/javascript'
        src="https://cdnjs.cloudflare.com/ajax/libs/jquery.isotope/3.0.4/isotope.pkgd.min.js"></script>
    <script type='text/javascript'
        src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>


    <!-- <script type='text/javascript' src="static 'js/jquery.owl-filter.js"></script> -->
    <!-- <script type="text/javascript" src="js/custom.js"></script> -->
    <!--
<script  type='text/javascript'  src="js/bootstrap.min.js"></script>
<script  type='text/javascript' src="js/magnific-popup.min.js"></script>
<script  type='text/javascript'  src="js/waypoints.min.js"></script>
<script  type='text/javascript' src="js/counterup.min.js"></script>
<script  type='text/javascript' src="js/waypoints-sticky.min.js"></script>
<script  type='text/javascript' src="js/isotope.pkgd.min.js"></script>
<script  type='text/javascript' src="js/owl.carousel.min.js"></script>
<script  src="js/stellar.min.js"></script>
<script  src="js/shortcode.js"></script>
-->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js"></script>
    <script type="text/javascript">
        new WOW().init();  
    </script>
    <script type="text/javascript">
        $(document).ready(function () {
            $(".numbers").keypress(function (e) {
                if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) {
                    return false;
                }
            });

            $(".sub_fo").click(function () {
                var name = $("#name_").val();
                var mobile = $("#m_num").val();
                var otp = $("#ooo_p").val();

                if (name == '') {
                    $("#abc").html('Please Enter Your Name.');
                    return true;
                }
                else if (mobile == '') {
                    $("#abc").html('Please Enter Your Valid Mobile Number.');
                    return true;
                }
                else if (otp == '') {
                    $("#abc").html('Please Enter OTP');
                    return true;
                }
                else {
                    $.post("ajax_files/send_enquiry.php", { name: name, mobile: mobile, otp: otp }, function (result) {
                        if (result == '0') {
                            $("#abc").html('<p  style="color:red; text-align:center;"><strong>OTP is not correct. </strong></p>');
                        }
                        else if (result == '2') {
                            $("#abc").html('Opps something went wrong please retry later...');
                        }
                        else if (result == '1') {
                            $("#abc").html('Thanks for your interest. Our Team will call you back ASAP.');
                            setTimeout(function () { location.reload(); }, 3000);
                        }

                    });
                }

            });
        });

        function Send_OTP_model1(mob) {
            if ((mob.length) >= 10) {
                var gst_url = "ajax_files/send_otp_model1.php";
                jQuery.ajax({
                    type: "GET",
                    url: gst_url,
                    data: "mobile=" + mob,
                    success: function (data) {
                        $('.mob_otp1').html(data);
                    }
                });
            }
        }

        jQuery(document).ready(function () {
            jQuery('#demo1').skdslider({
                slideSelector: '.slide',
                delay: 9000,
                animationSpeed: 2000,
                showNextPrev: true,
                showPlayButton: true,
                autoSlide: true,
                animationType: 'fading'
            });


        });
    </script>
    <script
        type="text/javascript"> adroll_adv_id = "TQOJRNH4GFC4PNYBROEWLS"; adroll_pix_id = "UMVNQGRNPVDCDCF5THN5OL"; (function () { var _onload = function () { if (document.readyState && !/loaded|complete/.test(document.readyState)) { setTimeout(_onload, 10); return } if (!window.__adroll_loaded) { __adroll_loaded = true; setTimeout(_onload, 50); return } var scr = document.createElement("script"); var host = (("https:" == document.location.protocol) ? "https://s.adroll.com" : "http://a.adroll.com"); scr.setAttribute('async', 'true'); scr.type = "text/javascript"; scr.src = host + "/j/roundtrip.js"; ((document.getElementsByTagName('head') || [null])[0] || document.getElementsByTagName('script')[0].parentNode).appendChild(scr); }; if (window.addEventListener) { window.addEventListener('load', _onload, false); } else { window.attachEvent('onload', _onload) } }()); </script>
    <script>
        $("#fixed-form-container .body").hide();
        $("#fixed-form-container .button").click(function () {
            $(this).next("#fixed-form-container div").slideToggle(400);
            $(this).toggleClass("expanded");
        });
    </script>
    

</body>

</html>