<!-- Hero Section -->
<div class="hero-section">
    <div id="demo1" class="skdslider">
        <ul>
            <li class="slide"><img src="{% static 'images/slide1.jpg' %}" alt="Slide 1"></li>
            <li class="slide"><img src="{% static 'images/slide2.jpg' %}" alt="Slide 2"></li>
        </ul>
    </div>
</div>
<!--second slider-->
            <div class="bs-example">
                <div id="demo1">
                    <div class="slide">
                        <img src="{% static 'images/uploads/16278786203-2.jpg' %}" />

                    </div>
                    <div class="slide">
                        <img src="{% static 'images/uploads/16278786122-2.jpg' %}" />

                    </div>
                    <div class="slide">
                        <img src="{% static 'images/uploads/16278786021-2.jpg' %}" />

                    </div>
                    <div class="slide">
                        <img src="{% static 'images/uploads/1600430345WhatsApp_Image_2020-09-18_at_5.26.28_PM.jpeg' %}" />

                    </div>
                    <div class="slide">
                        <img src="{% static 'images/uploads/1600430336WhatsApp_Image_2020-09-18_at_5.26.28_PM(1).jpeg' %}" />

                    </div>
                    <div class="slide">
                        <img src="{% static 'images/uploads/1600430304WhatsApp_Image_2020-09-18_at_5.26.29_PM(1).jpeg' %}" />

                    </div>
                </div>
            </div>