<!-- Services Section -->
<div class="section-full bg-gray p-tb50">
    <div class="container">
        <div class="section-head text-center">
            <h2>Our Services</h2>
            <p>Customized Stands, System Stands, Residential & Office Interiors, Retail Design & more</p>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-6">
                <div class="service-box">
                    <h4>Customized Stands</h4>
                    <p>Unique exhibition stand design tailored for your brand.</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="service-box">
                    <h4>System Stands</h4>
                    <p>Flexible modular solutions for quick setup and scalability.</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="service-box">
                    <h4>Residential Interiors</h4>
                    <p>Transforming your home with elegant and functional design.</p>
                </div>
            </div>
        </div>
    </div>
</div>
