<!-- WELCOME SECTION START -->
            <div class="section-full p-tb40 bg-white">
                <div class="container">
                    <div class="section-content">
                        <div class="row">
                            <div class="col-md-7 col-sm-12">
                                <div class="welcome-carousel-outer m-b60">
                                    <div class="welcome-bg-block clearfix"
                                        style="background-image: url({% static 'images/interior-welcome-2.jpg' %});">
                                        <div class="welcome-carousel-1 ">
                                            <div class="owl-carousel home-carousel-1 owl-btn-bottom-left">
                                                <div class="item">
                                                    <div class="ow-img">
                                                        <a href="javascript:void(0);">
                                                            <img src="{% static 'images/int1.jpg' %}" alt="">
                                                        </a>
                                                    </div>
                                                </div>
                                                <div class="item">
                                                    <div class="ow-img">
                                                        <a href="javascript:void(0);">
                                                            <img src="{% static 'images/int2.jpg' %}" alt="">
                                                        </a>
                                                    </div>
                                                </div>
                                                <div class="item">
                                                    <div class="ow-img">
                                                        <a href="javascript:void(0);">
                                                            <img src="{% static 'images/int3.jpg' %}" alt="">
                                                        </a>
                                                    </div>
                                                </div>
                                                <div class="item">
                                                    <div class="ow-img">
                                                        <a href="javascript:void(0);">
                                                            <img src="{% static 'images/int4.jpg' %}" alt="">
                                                        </a>
                                                    </div>
                                                </div>
                                                <div class="item">
                                                    <div class="ow-img">
                                                        <a href="javascript:void(0);">
                                                            <img src="{% static 'images/int5.jpg' %}" alt="">
                                                        </a>
                                                    </div>
                                                </div>
                                                <div class="item">
                                                    <div class="ow-img">
                                                        <a href="javascript:void(0);">
                                                            <img src="{% static 'dsn.jpg' %}" alt="">
                                                        </a>
                                                    </div>
                                                </div>
                                                <div class="item">
                                                    <div class="ow-img">
                                                        <a href="javascript:void(0);">
                                                            <img src="{% static 'dsn2.jpg' %}" alt="">
                                                        </a>
                                                    </div>
                                                </div>
                                                <div class="item">
                                                    <div class="ow-img">
                                                        <a href="javascript:void(0);">
                                                            <img src="{% static 'images/Amara.jpg' %}" alt="">
                                                        </a>
                                                    </div>
                                                </div>
                                                <div class="item">
                                                    <div class="ow-img">
                                                        <a href="javascript:void(0);">
                                                            <img src="{% static 'images/Bindal.jpg' %}" alt=""></a>
                                                    </div>
                                                </div>
                                                <div class="item">
                                                    <div class="owl-img">
                                                        <a href="javascript:void(0);">
                                                            <img src="{% static 'images/Charmacy.jpg' %}" alt=""></a>
                                                    </div>
                                                </div>
                                                <div class="item">
                                                    <div class="ow-img">
                                                        <a href="javascript:void(0);">
                                                            <img src="{% static 'images/Arfin.jpg' %}" alt=""></a>
                                                    </div>
                                                </div>
                                                <div class="item">
                                                    <div class="ow-img">
                                                        <a href="javascript:void(0);">
                                                            <img src="{% static 'images/Dutch.jpg' %}" alt=""></a>
                                                    </div>
                                                </div>
                                                <div class="item">
                                                    <div class="ow-img">
                                                        <a href="javascript:void(0);">
                                                            <img src="{% static 'images/Emkay&#32;Tools.jpg' %}" alt=""></a>
                                                    </div>
                                                </div>
                                                <div class="item">
                                                    <div class="ow-img">
                                                        <a href="javascript:void(0);">
                                                            <img src="{% static 'images/HRH-1.jpg' %}" alt=""></a>
                                                    </div>
                                                </div>
                                                <div class="item">
                                                    <div class="owl-img">
                                                        <a href="javascript:void(0);">
                                                            <img src="{% static 'images/Jtekt-22.jpg' %}" alt=""></a>
                                                    </div>
                                                </div>
                                                <div class="item">
                                                    <div class="ow-img">
                                                        <a href="javascript:void(0);">
                                                            <img src="{% static 'images/Ruchoks.jpg' %}" alt=""></a>
                                                    </div>
                                                </div>
                                                <div class="item">
                                                    <div class="ow-img">
                                                        <a href="javascript:void(0);">
                                                            <img src="{% static 'images/SEPL.jpg' %}" alt=""></a>
                                                    </div>
                                                </div>
                                                <div class="item">
                                                    <div class="ow-img">
                                                        <a href="javascript:void(0);">
                                                            <img src="{% static 'images/SGI.jpg' %}" alt=""></a>
                                                    </div>
                                                </div>
                                                <div class="item">
                                                    <div class="ow-img">
                                                        <a href="javascript:void(0);">
                                                            <img src="{% static 'images/Wilmar.jpg' %}" alt=""></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-5 col-sm-12 about-p">
                                <div class="section-head">
                                    <div class="wt-separator-outer separator-left">
                                        <div class="wt-separator new-add-old">
                                            <span class="text-primary text-uppercase sep-line-one new-add ">Welcome to
                                                Dsigner Studio</span>
                                        </div>
                                    </div>
                                    <h2>Since 2009 <br>
                                        <small>
                                            10 Years+ Experience
                                        </small>
                                    </h2>
                                </div>
                                <p>We are a full service creative agency focused on Exhibitions & Interior Designing. We
                                    have a core team of professionally qualified staff and a fleet of production staff
                                    which form the central force for stall designing & project management. With special
                                    focus in stall designing & 3d visualization, residential and commercial interiors,
                                    our master planning, architecture and design services have expanded to – mixed used
                                    scheme, interior & exterior designing, café & restaurants, terrace gardens &
                                    landscaping.</p>
                                <p>Dsigner Studio has the capability to design your DREAM PROJECT. We intermingle style,
                                    substance, sophistication & serenity in all OUR work. Dsigner Studio is located in
                                    Gurgaon where you can personally visit to discuss your requirements..</p>
                                <!--
              <a href="about-us" class="site-button m-t15 m-b15">Read More</a>
              -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>