 <!-- OUR WORK CONTENT START -->
            <div class="section-full small-device p-t40 p-b20 wow fadeIn" data-wow-duration="500ms"
                data-wow-delay="500ms">
                <div class="container">
                    <div class="text-center">
                        <div class="wt-separator-outer separator-center">
                            <div class="wt-separator">
                                <span class="max-h-text text-uppercase sep-line-one ">Our Work</span>
                            </div>
                        </div>
                    </div>
                    <div class="portfolio-wrap mfp-gallery work-grid row">
                        <div class="stamp">
                            <div class="text-center">
                                <!--
              <h4 class="m-t0">Whatever your style, we’ll help you achieve it.</h4>
                  -->
                                <div class="filter-wrap p-t10 p-b20">
                                    <ul class="filter-navigation masonry-filter text-uppercase">
                                        <li class="active"><a data-filter="*" data-hover="All"
                                                href="index.html#">All</a></li>
                                        <li><a data-filter=".cat-1" data-hover="Exhibition"
                                                href="javascript:;">Exhibition</a></li>
                                        <li><a data-filter=".cat-2" data-hover="Interior"
                                                href="javascript:;">Interior</a></li>
                                        <li><a data-filter=".cat-3" data-hover="Branding"
                                                href="javascript:;">Branding</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="row">
                            <div class="masonry-item cat-2 col-md-4 col-sm-6 m-b30">
                                <div class="wt-box work-hover-content">
                                    <div class="wt-thum-bx img-center-icon">
                                        <a href="javascript:;"><img src="{% static 'images/uploads/category_images/15855793540sl.jpg' %}"
                                                alt=""></a>
                                    </div>
                                </div>
                            </div>
                            <div class="masonry-item cat-2 col-md-4 col-sm-6 m-b30">
                                <div class="wt-box work-hover-content">
                                    <div class="wt-thum-bx img-center-icon">
                                        <a href="javascript:;"><img src="{% static 'images/uploads/category_images/15855800920sl.jpg' %}"
                                                alt=""></a>
                                    </div>
                                </div>
                            </div>
                            <div class="masonry-item cat-2 col-md-4 col-sm-6 m-b30">
                                <div class="wt-box work-hover-content">
                                    <div class="wt-thum-bx img-center-icon">
                                        <a href="javascript:;"><img src="{% static 'images/uploads/category_images/15855802300sl.jpg' %}"
                                                alt=""></a>
                                    </div>
                                </div>
                            </div>
                            <div class="masonry-item cat-2 col-md-4 col-sm-6 m-b30">
                                <div class="wt-box work-hover-content">
                                    <div class="wt-thum-bx img-center-icon">
                                        <a href="javascript:;"><img src="{% static 'images/uploads/category_images/16188313940sl.jpg' %}"
                                                alt=""></a>
                                    </div>
                                </div>
                            </div>
                            <div class="masonry-item cat-2 col-md-4 col-sm-6 m-b30">
                                <div class="wt-box work-hover-content">
                                    <div class="wt-thum-bx img-center-icon">
                                        <a href="javascript:;"><img src="{% static 'images/uploads/category_images/16188314470sl.jpg' %}"
                                                alt=""></a>
                                    </div>
                                </div>
                            </div>
                            <div class="masonry-item cat-2 col-md-4 col-sm-6 m-b30">
                                <div class="wt-box work-hover-content">
                                    <div class="wt-thum-bx img-center-icon">
                                        <a href="javascript:;"><img src="{% static 'images/uploads/category_images/16278796120sl.jpg' %}"
                                                alt=""></a>
                                    </div>
                                </div>
                            </div>
                            <div class="masonry-item cat-1 col-md-4 col-sm-6 m-b30">
                                <div class="wt-box work-hover-content">
                                    <div class="wt-thum-bx img-center-icon">
                                        <a href="javascript:;"><img src="{% static 'images/uploads/category_images/15798675650sl.jpg' %}"
                                                alt=""></a>
                                    </div>
                                </div>
                            </div>
                            <div class="masonry-item cat-1 col-md-4 col-sm-6 m-b30">
                                <div class="wt-box work-hover-content">
                                    <div class="wt-thum-bx img-center-icon">
                                    <a href="javascript:;"><img src="{% static 'images/uploads/category_images/15798682610sl.jpg' %}"
                                                alt=""></a>
                                    </div>
                                </div>
                            </div>
                            <div class="masonry-item cat-1 col-md-4 col-sm-6 m-b30">
                                <div class="wt-box work-hover-content">
                                    <div class="wt-thum-bx img-center-icon">
                                        <a href="javascript:;"><img src="{% static 'images/uploads/category_images/15798683570sl.jpg' %}"
                                                alt=""></a>
                                    </div>
                                </div>
                            </div>
                            <div class="masonry-item cat-1 col-md-4 col-sm-6 m-b30">
                                <div class="wt-box work-hover-content">
                                    <div class="wt-thum-bx img-center-icon">
                                        <a href="javascript:;"><img src="{% static 'images/uploads/category_images/15798684300sl.jpg' %}"
                                                alt=""></a>
                                    </div>
                                </div>
                            </div>
                            <div class="masonry-item cat-3 col-md-4 col-sm-6 m-b30">
                                <div class="wt-box work-hover-content">
                                    <div class="wt-thum-bx img-center-icon">
                                        <a href="javascript:;"><img src="{% static 'images/uploads/category_images/15786672700sl.jpg' %}"
                                                alt=""></a>
                                    </div>
                                </div>
                            </div>
                            <div class="masonry-item cat-3 col-md-4 col-sm-6 m-b30">
                                <div class="wt-box work-hover-content">
                                    <div class="wt-thum-bx img-center-icon">
                                        <a href="javascript:;"><img src="{% static 'images/uploads/category_images/15855728990sl.jpg' %}"
                                                alt=""></a>
                                    </div>
                                </div>
                            </div>
                            <div class="masonry-item cat-3 col-md-4 col-sm-6 m-b30">
                                <div class="wt-box work-hover-content">
                                    <div class="wt-thum-bx img-center-icon">
                                        <a href="javascript:;"><img src="{% static 'images/uploads/category_images/15855729190sl.jpg' %}"
                                                alt=""></a>
                                    </div>
                                </div>
                            </div>
                            <div class="masonry-item cat-3 col-md-4 col-sm-6 m-b30">
                                <div class="wt-box work-hover-content">
                                    <div class="wt-thum-bx img-center-icon">
                                        <a href="javascript:;"><img src="{% static 'images/uploads/category_images/15855730160sl.jpg' %}"
                                                alt=""></a>
                                    </div>
                                </div>
                            </div>
                            <div class="masonry-item cat-3 col-md-4 col-sm-6 m-b30">
                                <div class="wt-box work-hover-content">
                                    <div class="wt-thum-bx img-center-icon">
                                        <a href="javascript:;"><img src="{% static 'images/uploads/category_images/15855730620sl.jpg' %}"
                                                alt=""></a>
                                    </div>
                                </div>
                            </div>
                            <div class="masonry-item cat-3 col-md-4 col-sm-6 m-b30">
                                <div class="wt-box work-hover-content">
                                    <div class="wt-thum-bx img-center-icon">
                                        <a href="javascript:;"><img src="{% static 'images/uploads/category_images/15855730810sl.jpg' %}"
                                                alt=""></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>